@model Customer
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
<p>Membership Type: @Model.MembershipType.Name</p>
@if (@Model.Birthdate != null)
{
    <p>Birthdate: @Model.Birthdate?.ToString("dd/MM/yyyy")</p>
}

