@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>
@Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary mt-3 mb-3 p-2" })
@if (@Model != null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Customers</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in @Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>We don't have any customers yet.</p>
}