@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movies</h1>
@Html.ActionLink("New Movie", "New", "Movies", null, new {@class = "btn btn-primary mt-3 mb-3 p-2"})
@if (@Model != null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Customers</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in @Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
                    <td>@movie.Genre.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>We don't have any customers yet.</p>
}