<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(ingredient, i) in ingerdients" :key="ingredient">{{ ingredient }} ({{ i }})</li>
        </ul>
        <hr>
            <ul>
                <li v-for="person in persons">
                    <div v-for="(value, key, index) in person">{{ key }}: {{value}} ({{ index }})</div>
                </li>
            </ul>
        <button @click="ingerdients.push('spices')">Add New</button>
        <span v-for="n in 10">{{n}}</span>
        <hr>
        <template v-for="(ingredient, index) in ingerdients">
            <h1>{{ ingredient }}</h1>
            <p>{{ index }}</p>
        </template>
    </div>
<script>
    new Vue({
       el: "#app",
       data: {
           ingerdients: ['meat', 'fruit', 'cookies'],
           persons: [
               {name: 'Max', age: 27, color: 'red'},
               {name: 'Anna', age: 'unknown', color: 'blue'}
           ]
       }
    });
</script>
</body>
</html>
